<h2 class="title">New Account</h2>
<div class="logContainer">
  <div class="prodCard cardLogin">
    <div class="registerFirstName">
      <label for="firstName">Name:</label>
      <input type="text" id="firstName" name="firstName" required />
    </div>
    <div class="registerLastName">
      <label for="lastName">Last Name:</label>
      <input type="text" id="lastName" name="lastName" required />
    </div>
    <div class="registerEmail">
      <label for="email">Email:</label>
      <input type="email" id="email" name="email" required />
    </div>
    <div class="loginPass">
      <label for="password">Password:</label>
      <input type="password" id="password" name="password" required />
    </div>
    <button class="btn" onclick="registerUser()">Register</button>
    <div><a class="back" href="/">Back</a></div>
  </div>
</div>

<script src="js/register.js"></script>
