
<h2>Poner nuevas pass para el mail {{data}}</h2>

    <p id="parrafo"> Por favor ingrese su nueva password </p>

    <div id="mail" > {{data}}  </div>  
    <div class="newPassword">
        <label for="password">Parssword:</label>
        <input type="password" id="password" name="password" required />
    </div>
    
    <button class="changeButton" onclick="changePass()"> Cambio de Password </button>

<script 
  src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.6.0/socket.io.min.js" 
  integrity="sha512-uXal8CICQ52UxoF9A3yBP6GUXGu5N2IoTZf/YXGMW4M0AvNyViA0ZjpGf9uqRpkN4kyx41Y5I0DmTQNOS6G05A==" 
  crossorigin="anonymous" 
  referrerpolicy="no-referrer">
</script>

<script src="js/changePassword.js"></script>
<link rel="stylesheet" href="/css/changePassword.css">
