<div class="backgroud_chat">
  <h1 class="text-white" >Chat in real time</h1>
  <div class="chat-container">
    <div class="operational-side-chat">
      
      <div class="name-part-chat">
        <label for="name" class="name-part-chat-title text-white"> Nombre </label>
        <input type="text" name="name" placeholder="Nombre" required  id="name-part-chat-id" class="name-part-chat-content">
      </div>
      
      <div class="mail-part-chat">
        <label for="mail" class="mail-part-chat-title text-white"> Mail </label>
        <input type="text" name="mail" placeholder="Mail" required id="mail-part-chat-id" class="mail-part-chat-content">
      </div>
      
      <div class="message-part-chat">
        <label for="message" class="message-part-chat-title text-white"> mensaje </label>
        <input type="text" name="message" placeholder="Mensaje" required id="message-part-chat-id" class="message-part-chat-content">
      </div>

      <div class="button-chat">
        <button class="add-button-chat" onclick="sendMessage()"> Enviar mensaje </button>
      </div>

    </div>

    <div class="view-side-chat">
        <div class="view-side-chat-title text-white"> Conversacion </div>
        <textarea name="message" id="view-side-chat-id" class="view-side-chat-content">
        </textarea>
    </div>    
  </div>
</div>

<script 
  src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.6.0/socket.io.min.js" 
  integrity="sha512-uXal8CICQ52UxoF9A3yBP6GUXGu5N2IoTZf/YXGMW4M0AvNyViA0ZjpGf9uqRpkN4kyx41Y5I0DmTQNOS6G05A==" 
  crossorigin="anonymous" 
  referrerpolicy="no-referrer">
</script>

<script src="js/main-chat.js"></script>