
<h2>Recuperar Acceso</h2>

    {{#if booleanTimeOut}}
      <p id="parrafo"> Vencio el tiempo habil para cambiar la pass. Vuelva a ingresar su pass para recuperar su acceso  </p>

    {{else}}
      <p id="parrafo"> Por favor ingrese su email para recuperar su acceso </p>

    {{/if}}

    <div class="recoverEmail">
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required />
    </div>
    
    <button class="recoverButton" onclick="recoveryMail()"> Mail de recuperacion </button>

<script 
  src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.6.0/socket.io.min.js" 
  integrity="sha512-uXal8CICQ52UxoF9A3yBP6GUXGu5N2IoTZf/YXGMW4M0AvNyViA0ZjpGf9uqRpkN4kyx41Y5I0DmTQNOS6G05A==" 
  crossorigin="anonymous" 
  referrerpolicy="no-referrer">
</script>

<script src="js/recoverPassword.js"></script>
<link rel="stylesheet" href="/css/recoverPassword.css">
