
<h2>Nueva Cuenta</h2>

    <div class="registerfirst_name">
        <label for="first_name">Nombre:</label>
        <input type="text" id="first_name" placeholder="Nombre" name="first_name" required />
    </div>
    
    <div class="registerlast_name">
        <label for="last_name">Apellido:</label>
        <input type="text" id="last_name" placeholder="Apellido" name="last_name" required />
    </div>

    <div class="registerEmail">
        <label for="email">Email:</label>
        <input type="email" id="email" placeholder="Mail" name="email" required />
    </div>
    
    <div class="loginPass">
        <label for="password">Contraseña:</label>
        <input type="password" id="password" placeholder="Contraseña" name="password" required />
    </div>

    <button class="registerButton" onclick="registerUser()"> Registrar cuenta </button>

    <a href="/"> Volver</a>
    
<script src="js/register.js"></script>
<link rel="stylesheet" href="/css/register.css">
