nav {
  display: none;
}

footer{
  display: none;
}

.registerfirst_name{
  margin-top: 15px;
}

.registerlast_name{
  margin-top: 15px;
}

.registerEmail{
  margin-top: 15px;
}

.loginPass{
  margin-top: 15px;
}

.registerButton{
  margin-top: 15px;
}