<nav>
    <div class="NavBarLogo">

        <a class="navBarLinksLinks" href="?">Logo</a>
    </div>
    <div class="navBarLinks">    
        
        <a class="navBarLinksLinks" href="?query=remeras">Remeras</a>
        <a class="navBarLinksLinks" href="?query=buzos">Buzos</a>
        <a class="navBarLinksLinks" href="?query=zapatillas">Zapatillas</a>
        <a class="navBarLinksLinks" href="?query=pantalones">Pantalones</a>
    </div>
    <div class="NavBarcart">
        <a class="navBarLinksLinks" href="/logout">Logout</a>
    </div>
</nav>